# Feel free to add your Python dependencies below. For formatting guidelines, see:
# https://pip.pypa.io/en/latest/reference/requirements-file-format/

apify < 3.0
httpx
types-beautifulsoup4
aiohttp>=3.8.0
beautifulsoup4>=4.11.0
lxml>=4.9.0